body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-links li a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    margin-top: 80px; /* Hacer espacio para el navbar fijo */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

#mision, #historia {
    background-color: white;
    color: black;
}

#vision {
    background-color: black;
    color: white;
}

h1 {
    font-size: 2em;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

#contacto {
    background-color: white;
    color: black;
    padding: 2em;
    margin-top: 80px;
    border: 1px solid black;
    border-radius: 5px;
}

.redes-sociales img {
    width: 30px;
    margin-right: 15px;
}
/* Sección de Contacto */

#contacto {
    background-color: black;
    color: white;
    padding: 2em;
    margin-top: 80px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}

#contacto h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

#contacto p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.redes-sociales {
    margin-top: 1em;
}

.redes-sociales img {
    width: 30px;
    margin: 0 15px;
}

.redes-sociales a {
    color: white;
    text-decoration: none;
}
/* ... Resto del código ... */

/* Sección de Misión */

.mision-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mision-text {
    width: 60%; /* O la medida que prefieras */
}

.mision-img img {
    width: 80%; /* O la medida que prefieras */
}

/* ... Resto del código ... */
/* ... Resto del código ... */

/* Sección de Visión */

#vision {
    background-color: black;
    color: white;
}

.vision-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vision-text {
    width: 60%; /* O la medida que prefieras */
}

.vision-img img {
    width: 80%; /* O la medida que prefieras */
}

/* ... Resto del código ... */
.img-container img {
    width: auto; /* O podrías usar un valor específico como "300px" */
    height: auto; /* O podrías usar un valor específico como "200px" */
    max-width: 400px; /* Establece el ancho máximo */
    max-height: 300px; /* Establece la altura máxima */
}
